---
---

<div>
  <a
    target="_blank"
    rel="noopener"
    class="float-right rtl:float-left"
    title="If you like Cruddy Forms, give us a star."
    href="https://github.com/IndependentCreator/cruddy-forms"
  >
  </a>
</div>
