---
import { Form } from "cruddy-forms/packages/cruddy-forms";
import { SignupFormSchema } from "src/schema.js";
import "src/styles/normform.css";

export const prerender = false;

const form = new Form( SignupFormSchema, "Submit" );

if ( Astro.locals.isValidFormSubmission() ) {
    const formData = await Astro.request.formData();
    const result = form.validate( formData );
    if ( result.valid ) {
        console.log("Valid submission");
    }
}
---
<div>
    <h2>Cruddy Forms Demo</h2>
    <div>
        <Fragment set:html={form.getHTML()}/>
    </div>
</div>

<script src="src/client.ts"></script>
